.button {
    background-color: $primaryBlue;
    color: white;
    border-radius: 2.5rem;
    padding: 1rem 2rem;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 2px;
    white-space: nowrap;
    transition: .3s;
    font-size: 1rem;

    &:hover {
        background-color: $darkBlue;
    }
}