.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 11;
  height: $headerHeight;
  padding: 1vh 0;
  transition: .5s;
  background-color: transparent;

  @media (max-width: $break-900) {
    height: $headerHeightActive;
  }

  &.active {
    background-color: rgba(255, 255, 255, 1);
    height: $headerHeightActive;

    @media (max-width: $break-900) {
      height: $headerHeightActive;
    }

    .nav {
      margin-right: 0;
    }

    .nav__link {
      color: $black;
    }
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    overflow-y: hidden;
  }

  .logo {
    height: 100%;
    position: relative;
    z-index: 5;

    .logo-img {
      height: 100%;
    }
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: 1.5rem;
    margin-right: 50%;
    transition: .5s;

    @media (max-width: $break-1200) {
      margin-right: 0;
    }


    .nuxt-link-exact-active {
      color: $primaryOrange
    }

    &__links {
      display: flex;
      list-style: none;
      gap: 16px;
      align-items: center;
      position: relative;

      @media (max-width: $break-1200) {
        position: absolute;
        justify-content: space-evenly;
        background-color: white;
        top: 0;
        right: 0;
        height: 100vh;
        padding: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: 0.3s;
        z-index: 2;
        gap: 0;
        color: $black;
      }
    }

    .nav-active {
      z-index: 1;
      transform: translateX(0);
    }

    &__link {
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: white;
      font-size: 16px;
      padding-bottom: 10px;
      transition: .5s;
      font-family: 'League Spartan', sans-serif;
      font-weight: bold;
      position: relative;

      @media (max-width: $break-1200) {
        color: $black
      }

      &:hover {
        color: $primaryOrange;
      }
    }

    .burger {
      display: none;
      position: relative;
      z-index: 2;
      cursor: pointer;

      @media screen and (max-width: $break-1200) {
        display: block;
      }

      &__line {
        background-color: $black;
        width: 25px;
        height: 1px;
        margin: 5px;
        transition: 0.2s;
      }
    }
  }
}

.toggle .burger__line:nth-child(1) {
  transform: rotate(-45deg) translate(-2px, 3px);
}

.toggle .burger__line:nth-child(2) {
  opacity: 0;
}

.toggle .burger__line:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}