.offer {
  padding-top: $headerHeight;

  .title-wrapper {
    text-align: center;
  }

  .title {
    font-size: 50px;
    font-weight: bold;
    position: relative;
    display: inline-block;

    &::before {
      position: absolute;
      content: '';
      left: 8px;
      right: 8px;
      height: 18px;
      background-color: $primaryBlue;
      top: 110%;
    }
  }

  .cards {
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  .card {
    background: $primaryBlue;
    color: white;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    overflow: hidden;
    height: 720px;
    transition: .3s;

    &:hover {
      background: $primaryOrange;

      .card-photo img {
        transform: scale(1.1);
      }
    }

    .card-photo {
      height: 45%;
      overflow: hidden;

      img {
        transition: .3s;
      }
    }

    .card-content {
      height: 55%;
      padding: 32px 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .card-title {
      font-size: 30px;
      font-weight: bold;

    }
  }
}