$primaryOrange: #DF7463;
$softOrange: #F5AA98;
$hoverOrange: #FF5C00;

$primaryBlue: #31539E;
$softBlue: #9AACFF;
$darkBlue: #022674;


$black: #313131;

//playfair display livvic 
@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@100;400;700&family=Playfair+Display&display=swap');


$break-600: 600px;
$break-900: 900px;
$break-1200: 1200px;


$headerHeight: 12vh;
$headerHeightActive: 8vh;


//full width split screen

$wrapper-padding-inline: 1rem;
$wrapper-max-width: 75rem;
$section-padding-block: 3rem;